@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Raleway:wght@900&display=swap');
/* noinspection CssInvalidAtRule */
@import-normalize;

:root {
    --color-text: #161618;
    --color-bg: #FCFDFF;
    --color-primary: #0185FF;
    --color-white: #fff;
    --color-header-border: #161618;

    --font-primary: 'Raleway', sans-serif;
    --font-text: 'Merriweather', sans-serif;
}


@media (prefers-color-scheme: dark) {
    :root {
        --color-text: #FCFDFF;
        --color-bg: #161618;
        --color-header-border: #8B9292;
    }
}

body {
    margin: 0;
    font-family: var(--font-text);
    font-size: 14px;
    line-height: 22px;
    color: var(--color-text);
    background-color: var(--color-bg);
}