@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Raleway:wght@900&display=swap');
/* noinspection CssInvalidAtRule */
@import-normalize;

:root {
	--color-black: #071013;
	--color-text: var(--color-black);
	--color-bg: #fcfdff;
	--color-accent: #6874e8;
	--color-primary: #69d1c5;
	--color-white: #fff;
	--color-title-border: #161618;
	--header-links-color: var(--color-black);

	--font-primary: 'Raleway', sans-serif;
	--font-text: 'Merriweather', sans-serif;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-text: #fcfdff;
		--color-bg: var(--color-black);
		--color-title-border: #8b9292;
		--header-links-color: var(--color-white);
	}
}

::selection {
	color: var(--color-primary);
}

body {
	margin: 0;
	font-family: var(--font-text);
	font-size: 14px;
	line-height: 22px;
	color: var(--color-text);
	background-color: var(--color-bg);
}
