@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Raleway:wght@900&display=swap');
/* noinspection CssInvalidAtRule */
@import-normalize;

:root {
    --color-text: #161618;
    --color-bg: #FCFDFF;
    --color-primary: #5A3D8F;
    --color-white: #fff;
    --color-title-border: #161618;
    --header-links-color: #8B9292;

    --font-primary: 'Raleway', sans-serif;
    --font-text: 'Merriweather', sans-serif;
}


@media (prefers-color-scheme: dark) {
    :root {
        --color-text: #FCFDFF;
        --color-bg: #161618;
        --color-title-border: #8B9292;
        --header-links-color: var(--color-white);
    }
}

body {
    margin: 0;
    font-family: var(--font-text);
    font-size: 14px;
    line-height: 22px;
    color: var(--color-text);
    background-color: var(--color-bg);
}